pillow==10.2.0
numpy==1.23.5
matplotlib==3.7.2
ipython==7.34.0
pandas==1.5.3
jupyter==1.0.0
tifffile==2023.4.12
tqdm==4.66.1
tensorflow-macos==2.10.0   # Dernière version compatible Python 3.9
tensorflow-addons==0.20.0
